ul.menubar {
  margin: 0;
  list-style: none;
}

ul.menubar ul {
  list-style: none outside;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 500;
  width: 120px;
}

ul.menubar li {
  margin: 0;
  height: 25px;
  padding-left: 5px;
  text-align: left;
  background: url(../images/item.png);
}

ul.menubar li:hover {
  background: url(../images/item-s.png);
}

ul.menubar .sub {
  background: url(../images/sitem.png);
}

ul.menubar .sub:hover {
  background: url(../images/sitem-s.png);
}

ul.menubar a {
  text-decoration: none;
}

ul.menubar a:hover {
  background: none;
  color: inherit;
}

ul.menubar .top {
  width: 80px;
  padding: 0;
  text-align: center;
  float: left;
  background: url(../images/top.png);
}

ul.menubar .top:hover {
  background: url(../images/top-s.png);
}

ul.menubar .top a:hover {
  color: #fff;
}

