hr {
  margin: 20px 0px;
}

/*TODO: Fix duplication, especially on lists*/
body {
  margin: 0;
  padding: 0;
  background: #98adb3;
}

.header {
  height: 60px;
  border-bottom: solid #505050 4px;
  width: auto;
  background: #fff;
  position: relative;
  padding: 0 10px;
}

img#logo {
  position: absolute;
  top: 11px;
  left: 10px;
}

.container {
  border-right: solid #444 2px;
  padding-right: 20px;
  background: white;
  margin: 0;
  background-color: #fff;
}

div#page {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

div#footer {
  background: #cad8dc; /*margin: 0 -10px;*/
  padding: 10px;
  border: solid #96aab0 4px;
  border-left: none;
  border-right: none;
  text-align: center;
  color: #555;
}

div#footer p {
  margin: 0;
}

#topnav {
  list-style: none;
  margin: 0px;
  margin-left: 320px;
  font-size: 1.25em;
}

p.quote {
  margin: 1.5em;
  color: #666;
  font-style: italic
}

div.container {
  background-image: url(../images/site_background.jpg)
}

div.fourteen_points_speech {
  margin-left: 10px;
}

div.index {
  background-image: url(../images/home_back.jpg);
}

div.bibliography a {
  text-decoration: none;
}

div.bibliography span {
  text-decoration: underline;
}
div.bibliography li {
  margin-bottom:1em;
}
div.bibliography blockquote {
  margin: 0;
}

div#home_page {
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
  color: #888;
  width: 950px;
  height:700px;
}

div#home_page h2 {
  color: #333;
  text-decoration: underline;
  margin-top: 0.65em;
  margin-bottom: 0.5em;
  font-size: 28pt;
  font-weight: bold;
}

div#right {
  /*padding-top: 4em;*/
}

ol.roman {
  list-style-type: upper-roman;
}

ul li .key {
  margin-left: -25px;
  position:absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
}
ul.legend li{
  padding-left: 25px;
  margin-bottom: 3px;
}

.u {
	text-decoration:underline;
}
