<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>For Mah Kitteh</title>
  </head>
  <body>
    <img src="http://chart.apis.google.com/chart?cht=p3&chd=t:60,0.0001&chs=700x300&chl=Part+of+you+which+I+love|Part+of+you+which+I+dont" alt="I love you"/>
    <a href='/jars/surprise.jar'>I love you</a>
  </body>
</html>
