<p>Well my kitty sure is resourceful :)</p>
<p>Now look through this page, and you might find something useful around line 3</p>
<!-- 
  Now that you've solved the first riddle
  it's time for me to not play the fiddle.

  I'm going to give you some letters for each puzzle solved
  and therefore the final portion may be involved.

  This letter may happen to be a 'd'
  and definitely not a bee.

  I always enjoyed our projects
  They never turned out to be wrecks
  I especially loved our sites
  And making them we never had any fights :)

  Your next clue is where I like to put my code
  with a simple VCS in a nice little abode
  Some may even call it a ->hub<-
  while some think it's a shrub.

  In this location there might be a hint
  which may make you squint

  at: http://<MYSTERY>/alexcrichton/cohort/tree/neo4j/doc/surprise
  
-->
