.menubar {
}

.menubar .menu {
  height: auto;
  position: absolute;
  background: #fff; /*border: 2px solid #066;*/
  display: none; /* hide all at start */
/* BAD BORDER! */
}

.menubar .item {
  margin: 0;
  width: 115px;
  padding-left: 5px;
  height: 25px;
  background: url(/images/item.png);
}

.menubar .item:hover {
  background: url(/images/item-s.png);
}

.menubar .sub {
  background: url(/images/sitem.png);
}

.menubar .sub:hover {
  background: url(/images/sitem-s.png);
}

.menubar a {
  text-decoration: none;
}

.menubar a:hover {
  background: none;
  color: inherit;
}

.menubar .top {
  width: 80px;
  padding: 0;
  text-align: center;
  float: left;
  background: url(/images/top.png);
}

.menubar .top:hover {
  background: url(/images/top-s.png);
}

.menubar .top a:hover {
  color: #fff;
}

