body {
  background-color: #d0ebd0;
  color: #222;
  margin-top: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
}

a:hover.nohighlight {
  background: none;
}

#header {
  border-bottom: 5px solid #066;
  width: 100%;
}

#logo {
  background: url(/images/headerback.png) repeat-x;
  border-bottom: 3px solid #066;
  line-height: 0;
}

#container {
  background-color: #fff; /*padding: 10px;*/
  border: solid #066;
  border-width: 0 2px 2px 0;
}

#page {
  padding: 10px;
  border-right: 2px solid #066;
}

#sidebar {
  padding-top: 10px;
}

#footer {
  border-top: 2px solid #066;
  text-align: center;
  padding-top: 5px;
  background: #d0ebd0;
}

.separator {
  border-bottom: 2px solid #066;
}

