@import url(http://fonts.googleapis.com/css?family=Molengo);
@import "accordion";

* { font-family: Helvetica, arial, serif }

body{ background: #eee; }

#main {
  margin: 0 auto;
  margin-top: 10px;
}

h1.main {
  text-align: center;
  margin: 0 auto;
  font-family:'Molengo', arial, serif;
}

li.slide .content {
  background: white;
  padding: 20px;
  height: 100%;
}

.content img.right, .content iframe.right {
  float: right;
  box-shadow: #666 2px 2px 2px;
}

img.shadow { box-shadow: #666 2px 2px 2px; }
ul > li { margin-top: 10px; }
.images { float: right; }
