<h3>Alex Crichton</h3>
<h4><%= mail_to 'alex@alexcrichton.com' %></h4>
<div id="websites" class="span-14">
  <div class="img"><%= link_to image_tag('wilson-vert.jpg'), '/league' %></div>
  <div class="img"><%= link_to image_tag('ac-vert.jpg'), 'http://academycommunity.com' %></div>
  <div class="img"><%= link_to image_tag('laquercia-vert.jpg'), 'http://www.laquercia.us' %></div>
</div>
<div id="index">
  <div id="selector">&nbsp;</div>
  <ul>
    <li><a href="#">Woodrow Wilson</a></li>
    <li><a href="#">AcademyCommunity</a></li>
    <li><a href="#">LaQuercia</a></li>
  </ul>
</div>
