<h2 class="separator">Welcome</h2>
<p>
  Welcome to my personal website about my coding. I have recently started this project and am attempting to add a record
  of everything I have coded onto this website to keep a clean organized record of what I've done.<br />
  More coming soon... (most likely this will be here forever)
</p>
<p>
  <strong>How did I make this website?</strong><br/>
  As for the actual code, thank Rails for that. Templates, can't beat them. But you see no trace of rails? Why the
  <code>.html</code> extension for the pages? Magic? Sadly, just a linux script to convert all these static pages from
  rails
  to their HTML pages, then served up directly. Our poor server is running enough Rails apps already...
</p>


<h2 class="separator">About Me</h2>
<p>
  <strong>OS:</strong>
  <br />
  Arch Linux
</p>
<p>
  <strong>Language:</strong>
  <br />
  Java
</p>
<p>
  <strong>Web browswer:</strong>
  <br />
  Firefox
</p>
<p>
  <strong>Web Framework:</strong>
  <br />
  Rails
</p>
<p>
  <strong>Is this website XHTML 1.0 strict compliant?</strong>
  <br />
  Yes. <a href="http://validator.w3.org/check?uri=referer"><img
src="http://www.w3.org/Icons/valid-xhtml10-blue"
alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
</p>

