<h3>echo Wilkommen &gt; front_page.html</h3>
<%= link_to 'wilson', '/wilson' %><br/>
<%= link_to 'laquercia', 'http://www.laquercia.us' %><br/>
<%= link_to 'academycommunity', 'http://academycommunity.com' %>