<h1 class="separator">Ruby</h1>
<p>
  I'm just using this as a center for me to organize my work. If you're here by accident, there's nothing to see
  here...
</p>
These three websites I've created using the <a href="http://rubyonrails.org">Ruby on Rails</a> web development
framework
<ul>
  <li><a href="http://www.academycommunity.com">AcademyCommunity</a></li>
  <li><a href="http://goldencircle.academycommunity.com">Golden Circle</a></li>
  <li><a href="league/index.html">League of Nations</a></li>
</ul>
That last one was for a National History Day project..
<p>
  I currently work for a company called La Quercia and am helping to recreate their <a
        href="http://www.laquercia.us">website</a>.
</p>
