<h1 class="separator">Ruby</h1>
<p>
  So I really have done barely anything with just Ruby itself, but I have used Ruby on Rails extensively...
</p>
These three websites I've created using the <a href="http://rubyonrails.org">Ruby on Rails</a> web development
framework
<ul>
  <li><a href="http://www.academycommunity.com">AcademyCommunity</a></li>
  <li><a href="http://goldencircle.academycommunity.com">Golden Circle</a></li>
  <li><a href="league/index.html">League of Nations</a></li>
</ul>
That last one was for a National History Day project..
<hr />
<p>
  While on the topic of websites...<br />
  <br />
  I currently work for a company called La Quercia and am helping to recreate their <a
    href="http://www.laquercia.us">website</a>.
</p>
