<p>My kitty is a clever one for reaching it this far<br/>
Maybe one day she'll be Czar</p>
<p>This letter is an 'X'<br/>
not to be confused with objects</p>
<p>That reminds me of food<br/>
of which I'm never shrewd</p>
<p>We've made dishes galore<br/>
Enough to feed an army corps</p>
<p>Each one more delicious than the last<br/>
and all of them a blast</p>
<p>Now i wonder if another surprise file
on www.andrew.cmu.edu/user/acrichto/groupsite will make you smile</p>

