%p Oh my you're doing well
%p 
  So here's an '
  %span{:style => 'font-size: 200%' } l
  ' (that's a lowercase L)
%br/
%p Now take a look at the URL
%p It always reminds me of good times and makes me feel well
%br/
%p For the next step
%p I feel as if I you have a lot of pep
%p And may have left something in the 'style' stylesheet
%p because I don't like to cheat
%br/
%p before you try anything you may want to clear your cache
%p so this hunt doesn't turn to ash
%br/
%p (It's the stylesheet of this page)
