<h1 class="separator">Testing</h1>
<p>
  This page is gonna house some testing of Javascript/HTML thingies.
</p>
<p>
  Well the drop down menubar was a success... as from above. At least it is on my computer...
</p>

