<h1 class="separator">Testing</h1>
<p>
  This page is gonna house some testing of Javascript/HTML thingies.
</p>
<p>
  Well the drop down menubar was a success... as from below. At least it is on my computer...
  It was also pretty easy... All I need to do now is a few simple markups and voila! A menu!
</p>

<div class="menubar">
  <div id="m0" class="item">Item 1</div>
  <div id="sub-m0" class="menu">
    <div class="item">Item 1</div>
    <div id="m1" class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
    <div class="item">Item 7</div>
    <div class="item">Item 8</div>
    <div class="item">Item 9</div>
    <div class="item">Item 10</div>
  </div>
  <div id="sub-m1" class="menu">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div id="m2" class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
    <div class="item">Item 7</div>
    <div class="item">Item 8</div>
    <div class="item">Item 9</div>
    <div class="item">Item 10</div>
  </div>
  <div id="sub-m2" class="menu">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
    <div class="item">Item 7</div>
    <div class="item">Item 8</div>
    <div class="item">Item 9</div>
    <div class="item">Item 10</div>
  </div>
</div>
