<h1 class="separator">Interwebs</h1>
<p>
  Some stuff I've done on the Interblag will go here... I'm tired though right now. As a hint, every portion of this
  site was coded from scratch... except for Rails, because that would be insane
</p>
