<h1 class="separator">Interhacks</h1>
<h2 class="separator">Need Unfiltered, Free
  Blagospheres? <%= link_to_function '[show/hide]', "$('#blagosphere').slideToggle('fast')" %></h2>
<div id="blagosphere" style="display:none">
  <%= render 'free_webs' %>
</div>
