/* line 22, ../_sass/application.scss */
body {
  background: black;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 27, ../_sass/application.scss */
a, a:hover, span, a:visited {
  color: inherit;
  text-decoration: none;
}

/* line 32, ../_sass/application.scss */
a {
  font-size: 40px;
}
/* line 35, ../_sass/application.scss */
a:hover {
  color: #498d20;
}

/* line 40, ../_sass/application.scss */
#container {
  width: 950px;
  margin: 20px auto;
  background: black;
  color: white;
  overflow: hidden;
  height: 500px;
  border: 1px solid white;
  position: relative;
}
/* line 50, ../_sass/application.scss */
#container > div {
  position: absolute;
}

/* line 55, ../_sass/application.scss */
#name {
  -moz-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  top: 115px;
  left: 215px;
  width: 500px;
  height: 250px;
  background: white;
  color: black;
  width: 400px;
  background: black;
  border: 10px solid white;
  z-index: 4;
  text-align: center;
}
/* line 68, ../_sass/application.scss */
#name a:first-child {
  margin-top: 25px;
  content: url('/images/alexcrichton.jpg?1282100894');
  width: 85%;
}
/* line 74, ../_sass/application.scss */
#name a:last-child {
  content: url('/images/email.jpg?1282100894');
  width: 85%;
}

/* line 80, ../_sass/application.scss */
#websites, #java {
  -moz-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  width: 500px;
  height: 250px;
  background: white;
  color: black;
  -moz-transition-property: height, top, all;
  -webkit-transition-property: height, top, all;
  -o-transition-property: height, top, all;
  transition-property: height, top, all;
  -moz-transition-delay: $time, $time, 0;
  -webkit-transition-delay: $time, $time, 0;
  -o-transition-delay: $time, $time, 0;
  transition-delay: $time, $time, 0;
}
/* line 87, ../_sass/application.scss */
#websites > a:first-child, #java > a:first-child {
  position: absolute;
  -moz-transition-property: top, left, font-size;
  -webkit-transition-property: top, left, font-size;
  -o-transition-property: top, left, font-size;
  transition-property: top, left, font-size;
  -moz-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
}

/* line 95, ../_sass/application.scss */
#websites {
  z-index: 3;
  right: 0;
}
/* line 99, ../_sass/application.scss */
#websites ul li {
  margin-top: 20px;
  width: 280px;
}

/* line 105, ../_sass/application.scss */
#java {
  z-index: 2;
  left: 0;
}
/* line 109, ../_sass/application.scss */
#java ul {
  width: 230px;
  text-align: right;
}

/* line 115, ../_sass/application.scss */
ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 100px;
  opacity: 0;
  right: -999em;
}
/* line 124, ../_sass/application.scss */
ul li a {
  font-size: 20px;
  margin-bottom: 30px;
}

/* line 137, ../_sass/application.scss */
#container.name #websites > a:first-child {
  top: 206px;
  left: 217.391px;
}
/* line 143, ../_sass/application.scss */
#container.name #java {
  top: 250px;
}
/* line 146, ../_sass/application.scss */
#container.name #java > a:first-child {
  top: -15px;
  left: 80px;
}

/* line 171, ../_sass/application.scss */
#container.java > div > a:first-child, #container.websites > div > a:first-child {
  font-size: 80px;
  left: 20px;
}

/* line 178, ../_sass/application.scss */
#container.java #name {
  -moz-transform: scale(1.2) rotate(0) translate(65px, -10px) skew(0deg, 0deg);
  -webkit-transform: scale(1.2) rotate(0) translate(65px, -10px) skew(0deg, 0deg);
  -o-transform: scale(1.2) rotate(0) translate(65px, -10px) skew(0deg, 0deg);
  transform: scale(1.2) rotate(0) translate(65px, -10px) skew(0deg, 0deg);
}
/* line 182, ../_sass/application.scss */
#container.java #websites {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 125px;
  right: -125px;
}
/* line 187, ../_sass/application.scss */
#container.java #java {
  height: 500px;
  color: white;
  background: black;
}
/* line 159, ../_sass/application.scss */
#container.java #java > a:first-child {
  font-size: 80px;
  left: 20px;
}
/* line 190, ../_sass/application.scss */
#container.java #java ul {
  left: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  -moz-transition-delay: 700ms;
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
  opacity: 1;
}

/* line 198, ../_sass/application.scss */
#container.websites #name {
  -moz-transform: scale(1.2) rotate(0) translate(-65px, 10px) skew(0deg, 0deg);
  -webkit-transform: scale(1.2) rotate(0) translate(-65px, 10px) skew(0deg, 0deg);
  -o-transform: scale(1.2) rotate(0) translate(-65px, 10px) skew(0deg, 0deg);
  transform: scale(1.2) rotate(0) translate(-65px, 10px) skew(0deg, 0deg);
}
/* line 202, ../_sass/application.scss */
#container.websites #websites {
  height: 500px;
  color: white;
  background: black;
}
/* line 159, ../_sass/application.scss */
#container.websites #websites > a:first-child {
  font-size: 80px;
  left: 20px;
}
/* line 205, ../_sass/application.scss */
#container.websites #websites ul {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  -moz-transition-delay: 700ms;
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
  opacity: 1;
  right: 0;
}
/* line 211, ../_sass/application.scss */
#container.websites #java {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 125px;
  left: -125px;
}
/* line 215, ../_sass/application.scss */
#container.websites #java > a:first-child {
  top: 160px;
}
