<!DOCTYPE html>
<html>
  <head>
    <link href='/favicon.ico' rel='shortcut icon'>
    <meta charset='utf-8'>
    <meta content='Alex Crichton' name='author'>

    <title>alexcrichton.com</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.4.3.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
